@model wwwroot.Models.ResetPassword

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/AdminLogin.cshtml";
}

<div class="login_areabox">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="maincontainer">
                    <div class="panel-body   login_area forgotpass">
                        <h1>Reset Password</h1>
                        <div class="form-group col-md-12">

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div>
                                    @if (ViewBag.StatusMessage.ToString() == "Success")
                                    {
                                        <div class="alert alert-success">
                                            <div class="tick">
                                                <span>Password Changed Successfully.</span>
                                            </div>
                                        </div>
                                    }

                                    @if (ViewBag.StatusMessage.ToString() == "Error")
                                    {

                                        <div class=" alert alert-danger">
                                            <div class="cross">
                                                <strong>Error... Please Try Again.</strong>
                                            </div>
                                        </div>

                                    }
                                    @* @if (ViewBag.StatusMessage.ToString() == "Error1")
                                        {

                                            <div class=" alert alert-danger">
                                                <div class="cross">
                                                    <strong>Error... Please Try Again.....</strong>
                                                </div>
                                            </div>

                                        }*@
                                </div>
                            </div>
                        </div>

                        @if (ViewBag.StatusMessage.ToString() != "Success")
                        {

                            using (Html.BeginForm("ResetPassword", "forgotpassword", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="row" style="padding-bottom:15px">
                                    <div class="col-md-6">
                                        <div class=" ">
                                            @Html.PasswordFor(model => model.Password, new { maxlength = 15, @class = "form-control", @autofocus = "autofocus", @placeholder = "New Password" })
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class=" ">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { maxlength = 15, @class = "form-control", @autofocus = "autofocus", @placeholder = "Confirm Password" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                        </div>
                                    </div>
                                </div>
                                @*

                                    @*
                                        <div class="form-group ">
                                           <div class="col-sm-2">
                                        @Html.PasswordFor(m => m.Password, new { maxlength = 15, @placeholder = "New Password", @autofocus = "autofocus", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                               </div>
                                        </div>

                                        <div class="form-group">
                                          <div class="col-sm-2">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { maxlength = 15, @placeholder = "Confirm Password", @autofocus = "autofocus", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                              </div>
                                        </div>*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="input-group-btn btnreset" style="text-align:center">
                                            <input type="hidden" value="@Model.rt" name="hftoken" />
                                            <input class="btn btn-primary brdrrarius" type="submit" value="Submit" />
                                        </span>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-md-3"></div>
                            <div class="col-md-6">

                                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <span class="input-group-btn btnreset">
                                        <input class="btn btn-primary brdrrarius" type="submit" value="Login Now" />
                                    </span>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section FooterScript{ }